<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <a routerLink="/library">Library</a>
    <a routerLink="">Dashboard</a>
    <a target="_blank"href="https://angular.io/tutorial">Tour of Heroes</a>
    <a target="_blank"href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    <a target="_blank"href="https://blog.angular.io/">Angular blog</a>
  </nav>
  
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="100" alt="Instagram Logo" src="https://c1.staticflickr.com/9/8595/28779490656_8f8a60a498_b.jpg">
</div>

<router-outlet></router-outlet>
<app-msgs></app-msgs>
