<p>The img-detail component</p>
<button (click)="goBack()">Back</button>
<div id="detail-view" *ngIf="img">
    <h2>Image number: {{img.id}}</h2>
    <img class="detail" [src]="img.url" alt="img.alt">
    <form (submit)="updateImg()">
        <label for="url">Change Image Url</label>
        <input name="url"type="text" [(ngModel)]="img.url">
        <label for="alt">Change Image Alt</label>
        <input name="alt"type="text" [(ngModel)]="img.alt">
        <input type="submit">
    </form>
    

</div>
